server:
  port: 8080

spring:
  application:
    name: txn-processing-service

  config:
    import: configserver:http://localhost:8888

  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521/FREEPDB1
    username: spring
    password: spring123

    jpa:
      hibernate:
        ddl-auto: update   # dev only
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.OracleDialect



logging:
  level:
    root: INFO
    org.springframework.jdbc.core: DEBUG
    com.company.txn: DEBUG


