server:
  port: 8080

spring:
  application:
    name: txn-processing-service

  config:
    import: configserver:http://localhost:8888

  datasource:
    url: jdbc:h2:mem:txn-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true

  sql:
    init:
      mode: always
