server:
  port: 8080

spring:
  application:
    name: txn-processing-service

  datasource:
    url: jdbc:oracle:thin:@localhost:1521/FREEPDB1
    username: spring
    password: spring123
    driver-class-name: oracle.jdbc.OracleDriver

txn-mapping:
  PAYMENT:
    description: Payment transaction
